@font-face{
    font-family:"TTNorms";
    src: url("../Font/TTNorms-Regular.otf") format("openType");
}
@font-face{
    font-family:"TTNorms Medium";
    src: url("../Font/TTNorms-Medium.otf") format("openType");
}
@font-face{
    font-family:"TTNorms Light";
    src: url("../Font/TTNorms-Light.otf") format("openType");
}
@font-face{
    font-family: "Times Romans Italic";
    src: url("../Font/Times-new-roman-italic.ttf") format("truetype");
}
*, *::after, *::before{
    box-sizing: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
*::selection{
    background-color: #5b99f6;
    color: #000;
}
body{
    background-color: #fafafa;
    font-family: "TTNorms";
    box-sizing: border-box;
}
.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.nav__header{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 2.5rem;
}
.Menu__Header{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.a__header-item{
    color: #081d43; 
    padding-top: 6px;
    padding-bottom: 6px;
    font-family:"TTNorms Medium";
    padding: 6px 15px;
    border-radius: 6px;
    transition: all 0.5s ease;
}
.a__header-item:hover{
    text-decoration: underline 2px #081d43;
    background-color: #e6eeeb;
}
.button__Contact{
    color: #fff;
    background-color: #0050c8;
    font-weight: 400;
    padding: 9px 16px;
    border-radius: 5px;
    transition: all 0.5s ease;
    transition-delay: 0.07s;
}
.button__Contact:hover{
    background-color: #00b487;
}
.header-icon__menu{
    font-size:23px;
    cursor: pointer;
    display: none; 
}
.logo-header__right{
    cursor: pointer;
}
.header__bottom{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
    margin-top: 5.3rem;
    gap: 15px;
}
.container__header-text-bottom{
    max-width:405px;
}
.text-top-header__h1_bold{
    font-family:"TTNorms Medium";
    font-weight: normal;
    color: #081d43;
    line-height: 45px;
}
.text-bottom-header__h4-gray{
    line-height: 25px;
    color: #595959;
    text-align: justify;
}
.content-header__botom-left{
    flex-wrap: wrap;  
    flex-shrink: 0;
}
/*.content-header__botom-right{
}*/
#image-man-content__header{
    width: 100%;
    height: 100%;
}
.container__button-bottom__header{
    margin-top: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
}
.button-contact_button__header_02{
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 7px;
    color: #fff;
    font-weight: normal;
    background-color: #0085c8;
    transition: all 0.6s ease;
}
.button-contact_button__header_02:nth-child(1){
    background-color: #87bc25;

}
.button-contact_button__header_02:nth-child(1):hover{
    background-color: #25bc61;
}
.button-contact_button__header_02:nth-child(2):hover{
    background-color: #00c8c1;
}
.main{
    width: 100%;
}
.work-container{
    text-align: center;
    padding: 5rem 0;
}
.word-txt__top-gray{
    color: #6c7890;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.word-title__bottom-bold{
    color: #081d43;
    font-weight: 500;
    font-size: 26px;
    font-family: "TTNorms Medium";
    letter-spacing: 2px;
    margin: 12px 5px 0 5px;
}
.title_item-work{
    text-transform: capitalize;
}
.container-word-item__bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 58px;
}
.word-item__chid{
    max-width: 19rem;
}
.title_item-work{
    color: #434955;
    margin-bottom: 18px;
    word-spacing: 1px;
}
.content_item-work{
    line-height: 25px;
    color: #081d43;
}
.container__image-man-woman-mobile{
    max-width: 31rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}
.image-man-woman-mobile__main{
    display: block;
}
.main-section{
    background-color: #2f5bea;
    width: 100%;
    padding: 5rem 0;
}
.main__section-h2-title__top, 
.person-comments__text{
    color: #fff;
    text-align: center;
}
.main__section-h2-title__top{
    font-family:"TTNorms Medium";
    font-weight: normal;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.person-comments__text{
    font-family: "TTNorms Light";
    font-size: 14px;
    word-spacing: 3px;
}
.container_comments-person{
    margin:30px auto 20px auto;
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    max-width: 80rem;
}
.comment-body{
    margin: 0 20px 0 20px;
}
.comment_person{
    background-color: #fff;
    padding: 20px 0px 12px 0;
    border-radius: 5px;
    min-height: 18rem;
    flex-basis: 22.2rem;
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}
.cotent_comment___p{
    font-family:"Times Romans Italic";
    word-spacing:1px;
    line-height: 22px;
    color: #7d818b;
    font-size: 18px;
}
.comment-info{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    padding: 10px 20px 0 20px;
    border-top: 1px solid #e8ebef;
}
.logo--icons__main{
    margin: 95px auto 12px auto;
    display: flex;
    justify-content: space-between;
    max-width: 69.5rem;
    padding: 0 17px;
}
.logo_item--main__bottom{
    cursor: pointer;
    filter: drop-shadow(2px 1px 2px #c8f8fc);
}
.user-profile__image-01{
    cursor: pointer;
}
.container-protolio-main{
    padding: 5rem 0;
}
.container-text_main--part02{
    margin-bottom: 40px;
    text-align: center;
}
#title-text_h5-gray__main-part02{
    color: #434955;
    margin-bottom: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#contact_bottom-_title__main-part02{
    color: #081d43;
    text-transform: capitalize;
    word-spacing: 1px;
    font-family: "TTNorms Medium";
    font-weight: normal;
}
.portfolio-item{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25rem;
    border-radius: 7px;
}
#container-image__main-part02{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-flow: row wrap;
    gap: 17px;
    max-width: 100%;
}
.img-items-main__part02{
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s ease;
    filter: drop-shadow(1px 3px 4px #cbcbcb);
}
.img-items-main__part02:hover{
    transform: scale(1.06313);
}
.top-footer__blue-bg{
    min-width: 100%;
    background-color: #2f5bea;
    padding: 90px 0;
}
.container-footer-content__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact_footer-bold__h2{
    color: #fff;
    font-family: "TTNorms Medium";
    font-weight: normal;
    word-spacing: 1px;
}
.input-email-adderss__footer{
    display: flex;
    align-items: center;
    flex-basis: 290px;
    min-height: 45px;
    background-color: #fff;
    padding: 2px;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}
.input-normal__footer-email{
    position: absolute;
    left: 20px;
    height: 70%;
    width: 70%;
    border: none;
    outline: none;
}
.icon-email__footer{
    position: absolute;
    right: 5px;
    padding:10px 15px;
    background-color: #2f5bea;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 0.4s ease-in;
}
.container-footer-content__bottom{
    padding: 30px 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 16px;
}
.icon-email__footer:hover{
    background-color: #00b487;
}
#footer-bottom-left-content-child,  
#footer-bottom-right-content-child{
    color: #434955;
    text-transform: capitalize;
    font-family: "TTNorms Light";
}
/* Project Responsive */
@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}
@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .button__Contact{
        display: none;
    }
    .header__bottom{
        flex-flow: column-reverse nowrap;
    }
    .comment_person{
        flex-basis: 20rem;
    }
    .logo--icons__main{
        flex-wrap: wrap;
        justify-content: center;
        gap: 45px;
        margin-top:50px;
    }
    .portfolio-item{
        flex-basis: 20.2rem;
    }
    #contact_footer-bold__h2{
        max-width: 24rem;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .Menu__Header{
        /* display: none; */
        position: fixed;
        top: 0;
        left: -240px;
        bottom: 0;
        background-color: #3f70e1;
        flex-flow: column nowrap;
        justify-content: flex-start;
        gap: 25px;
        width: 240px;
        align-items: flex-start;
        padding-top: 27px;
        transition: all 0.5s ease-in;
    }
    .Menu__Header .a__header-item{
        margin-left: 15px;
        padding: 5px 20px;
        text-align: left;
        min-width: 100%;
        color: #fff;
    }
    .a__header-item:hover{
        background-color: #00317a;
        color: #fff;
        text-decoration: underline 2px #fff;
    }
    .header-icon__menu{
        display: block;
        transition: all 0.4s ease;
    }
    .header-icon__menu:hover{
        filter: drop-shadow(1px 2px 3px #cae0e3);
    }
    .container-word-item__bottom{
        flex-flow: row wrap;
        gap: 28px
    }
    .comment_person{
        flex-basis: 21.5rem;
    }
    .portfolio-item{
        flex-basis: 24.3rem;
    }
    .container-footer-content__top{
        flex-flow: column nowrap;
        gap: 20px;
    }
    .input-email-adderss__footer{
        flex-basis: 30px;
        width: 75%;
    }
    .text-top-header__h1_bold{
        line-height: 40px;
        font-size: 29px;
    }
    #contact_footer-bold__h2{
        text-align: center;
    }
}
@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .container__button-bottom__header{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .image-man-woman-mobile__main{
        width: 70%;
        object-fit: cover;
    }    
    #contact_footer-bold__h2 {
        text-align: center;
        max-width: 23rem;
    }
    .text-top-header__h1_bold{
        line-height: 35px;
        font-size: 24px;
    }
    .word-title__bottom-bold{
        letter-spacing: 1px;
        font-size: 22px;
    }
    #footer-bottom-left-content-child, #footer-bottom-right-content-child{
        text-align: center;
    }
}